@font-face {
  font-family: "lato-regular";
  src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato-bold";
  src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: "raleway-medium";
  src: url(../fonts/raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: "raleway-bold";
  src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: "shadows-regular";
  src: url(../fonts/shadow/ShadowsIntoLight-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000f30;
  border-radius: 5px;
}

.landing-page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  justify-content: center;
}
.landing-page-container .welcome-title {
  position: absolute;
  color: #fff;
  font-family: "raleway-bold";
  font-size: 3rem;
  z-index: 1;
  top: 20vh;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .landing-page-container .welcome-title {
    font-size: 1.5rem;
  }
}
.landing-page-container .create-account-or-login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .landing-page-container .create-account-or-login {
    margin-top: 5vh;
    flex-direction: column;
  }
}
.landing-page-container .create-account-or-login figure {
  position: relative;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.landing-page-container .create-account-or-login figure .circle {
  opacity: 0.8;
  background-color: #545454;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 50%;
  margin: 10%;
  transition: all 250ms ease;
  cursor: pointer;
}
.landing-page-container .create-account-or-login figure .circle:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .landing-page-container .create-account-or-login figure .circle {
    width: 80px;
    height: 80px;
  }
}
.landing-page-container .create-account-or-login figure .circle .cross {
  padding: 20%;
}
.landing-page-container .create-account-or-login figure .avatar-picture {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-clip-path: circle();
  clip-path: circle();
  margin: 10%;
  transition: all 250ms ease;
  cursor: pointer;
}
.landing-page-container .create-account-or-login figure .avatar-picture:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .landing-page-container .create-account-or-login figure .avatar-picture {
    width: 80px;
    height: 80px;
  }
}
.landing-page-container .create-account-or-login figure figcaption {
  color: #fff;
  font-family: "raleway-bold";
}
.landing-page-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.connexion-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.connexion-container .connexion-title {
  position: absolute;
  color: #fff;
  font-family: "raleway-bold";
  font-size: 2.5rem;
  z-index: 1;
  top: 10vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .connexion-container .connexion-title {
    font-size: 1.1rem;
  }
}
.connexion-container .connexion-subtitle {
  position: absolute;
  color: #fff;
  font-family: "lato-regular";
  font-weight: lighter;
  font-size: 1.3rem;
  z-index: 1;
  top: 16vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .connexion-container .connexion-subtitle {
    font-size: 0.8rem;
  }
}
.connexion-container .connexion-inputs {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.connexion-container .connexion-inputs label {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-inputs label {
    font-size: 1rem;
  }
}
.connexion-container .connexion-inputs input {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
}
.connexion-container .connexion-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
  }
}
.connexion-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.new-account-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-account-container .new-account-title {
  position: absolute;
  color: #fff;
  font-family: "raleway-bold";
  font-size: 2.5rem;
  z-index: 1;
  top: 5vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .new-account-container .new-account-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .new-account-container .new-account-title {
    font-size: 1.1rem;
  }
}
.new-account-container .new-account-subtitle {
  position: absolute;
  color: #fff;
  font-family: "lato-regular";
  font-weight: lighter;
  font-size: 1.2rem;
  z-index: 1;
  top: 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .new-account-container .new-account-subtitle {
    font-size: 1rem;
    top: 80px;
  }
}
@media screen and (max-width: 500px) {
  .new-account-container .new-account-subtitle {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .new-account-container .new-account-subtitle {
    display: none;
  }
}
.new-account-container .new-account-inputs {
  margin: 25vh auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .new-account-container .new-account-inputs {
    margin: 20vh auto 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .new-account-container .new-account-inputs {
    margin: 17vh auto 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .new-account-container .new-account-inputs {
    margin: 15vh auto 0 auto;
  }
}
.new-account-container .new-account-inputs label {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .new-account-container .new-account-inputs label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .new-account-container .new-account-inputs label {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .new-account-container .new-account-inputs label {
    font-size: 0.8rem;
  }
}
.new-account-container .new-account-inputs input {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .new-account-container .new-account-inputs input {
    width: 80%;
    margin-bottom: 20px;
  }
}
.new-account-container .new-account-inputs .input-error {
  color: red;
}
.new-account-container .new-account-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .new-account-container .new-account-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-top: 0;
  }
}
.new-account-container .add-avatar-picture {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-clip-path: circle();
  clip-path: circle();
  transition: all 250ms ease;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .new-account-container .add-avatar-picture {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 375px) {
  .new-account-container .add-avatar-picture {
    font-size: 0.8rem;
  }
}
.new-account-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-script-page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-script-page-container .post-script-page-inputs {
  margin: 25vh auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .post-script-page-container .post-script-page-inputs {
    margin: 20vh auto 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .post-script-page-container .post-script-page-inputs {
    margin: 30vh auto 0 auto;
  }
}
.post-script-page-container .post-script-page-inputs label {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .post-script-page-container .post-script-page-inputs label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .post-script-page-container .post-script-page-inputs label {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .post-script-page-container .post-script-page-inputs label {
    font-size: 0.8rem;
  }
}
.post-script-page-container .post-script-page-inputs label:nth-child(6) {
  margin-bottom: 40px;
}
.post-script-page-container .post-script-page-inputs select {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .post-script-page-container .post-script-page-inputs select {
    width: 80%;
  }
}
.post-script-page-container .post-script-page-inputs select:focus {
  background-color: #545454;
}
.post-script-page-container .post-script-page-inputs option {
  color: #fff;
}
.post-script-page-container .post-script-page-inputs input {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .post-script-page-container .post-script-page-inputs input {
    width: 80%;
    margin-bottom: 20px;
  }
}
.post-script-page-container .post-script-page-inputs #synopsis {
  margin-top: 20px;
  min-width: 20vw;
  min-height: 15vh;
  max-width: 30vw;
  max-height: 20vh;
  font-size: 1rem;
  font-family: "raleway-medium";
  text-align: justify;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 20px;
}
.post-script-page-container .post-script-page-inputs #synopsis:focus {
  outline: none;
  border: none;
  background: rgba(84, 84, 84, 0.2);
}
@media screen and (max-width: 768px) {
  .post-script-page-container .post-script-page-inputs #synopsis {
    min-width: 60vw;
  }
}
@media screen and (max-width: 375px) {
  .post-script-page-container .post-script-page-inputs #synopsis {
    min-width: 70vw;
  }
}
.post-script-page-container .post-script-page-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .post-script-page-container .post-script-page-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-top: 0;
  }
}
.post-script-page-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-video-page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-video-page-container .post-video-page-inputs {
  margin: 25vh auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .post-video-page-container .post-video-page-inputs {
    margin: 20vh auto 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .post-video-page-container .post-video-page-inputs {
    margin: 30vh auto 0 auto;
  }
}
.post-video-page-container .post-video-page-inputs label {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .post-video-page-container .post-video-page-inputs label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .post-video-page-container .post-video-page-inputs label {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .post-video-page-container .post-video-page-inputs label {
    font-size: 0.8rem;
  }
}
.post-video-page-container .post-video-page-inputs label:nth-child(7) {
  margin-bottom: 40px;
}
.post-video-page-container .post-video-page-inputs select {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .post-video-page-container .post-video-page-inputs select {
    width: 80%;
  }
}
.post-video-page-container .post-video-page-inputs input {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .post-video-page-container .post-video-page-inputs input {
    width: 80%;
    margin-bottom: 20px;
  }
}
.post-video-page-container .post-video-page-inputs label:nth-child(6) {
  margin-bottom: 40px;
}
.post-video-page-container .post-video-page-inputs #synopsis {
  margin-top: 20px;
  min-width: 20vw;
  min-height: 15vh;
  max-width: 30vw;
  max-height: 20vh;
  font-size: 1rem;
  font-family: "raleway-medium";
  text-align: justify;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 20px;
}
.post-video-page-container .post-video-page-inputs #synopsis:focus {
  outline: none;
  border: none;
  background: rgba(84, 84, 84, 0.2);
}
@media screen and (max-width: 768px) {
  .post-video-page-container .post-video-page-inputs #synopsis {
    min-width: 60vw;
  }
}
@media screen and (max-width: 375px) {
  .post-video-page-container .post-video-page-inputs #synopsis {
    min-width: 70vw;
  }
}
.post-video-page-container .post-video-page-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .post-video-page-container .post-video-page-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-top: 0;
  }
}
.post-video-page-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.scripts-page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.scripts-page-container .scripts-page-inputs {
  margin: 40vh auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .scripts-page-container .scripts-page-inputs {
    margin: 30vh auto 0 auto;
  }
}
.scripts-page-container .scripts-page-inputs h1 {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .scripts-page-container .scripts-page-inputs h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .scripts-page-container .scripts-page-inputs h1 {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .scripts-page-container .scripts-page-inputs h1 {
    font-size: 0.8rem;
  }
}
.scripts-page-container .scripts-page-inputs h2 {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .scripts-page-container .scripts-page-inputs h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .scripts-page-container .scripts-page-inputs h2 {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .scripts-page-container .scripts-page-inputs h2 {
    font-size: 0.8rem;
  }
}
.scripts-page-container .scripts-page-inputs #synopsis {
  margin-top: 20px;
  min-width: 30vw;
  min-height: 15vh;
  max-width: 60vw;
  max-height: 20vh;
  font-size: 1rem;
  font-family: "raleway-medium";
  text-align: justify;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 20px;
}
.scripts-page-container .scripts-page-inputs #synopsis:focus {
  outline: none;
  border: none;
  background: rgba(84, 84, 84, 0.2);
}
@media screen and (max-width: 768px) {
  .scripts-page-container .scripts-page-inputs #synopsis {
    min-width: 60vw;
  }
}
@media screen and (max-width: 375px) {
  .scripts-page-container .scripts-page-inputs #synopsis {
    min-width: 70vw;
  }
}
.scripts-page-container .scripts-page-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .scripts-page-container .scripts-page-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
  }
}
.scripts-page-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.videos-page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.videos-page-container .videos-page-inputs {
  margin: 40vh auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.videos-page-container .videos-page-inputs .videos-page-title {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .videos-page-container .videos-page-inputs .videos-page-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .videos-page-container .videos-page-inputs .videos-page-title {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .videos-page-container .videos-page-inputs .videos-page-title {
    font-size: 0.8rem;
  }
}
.videos-page-container .videos-page-inputs h2 {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .videos-page-container .videos-page-inputs h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .videos-page-container .videos-page-inputs h2 {
    top: 10vh;
  }
}
@media screen and (max-width: 375px) {
  .videos-page-container .videos-page-inputs h2 {
    font-size: 0.8rem;
  }
}
.videos-page-container .videos-page-inputs #synopsis {
  margin-top: 20px;
  min-width: 30vw;
  min-height: 15vh;
  max-width: 60vw;
  max-height: 20vh;
  font-size: 1rem;
  font-family: "raleway-medium";
  text-align: justify;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 20px;
}
.videos-page-container .videos-page-inputs #synopsis:focus {
  outline: none;
  border: none;
  background: rgba(84, 84, 84, 0.2);
}
@media screen and (max-width: 768px) {
  .videos-page-container .videos-page-inputs #synopsis {
    min-width: 60vw;
  }
}
@media screen and (max-width: 375px) {
  .videos-page-container .videos-page-inputs #synopsis {
    min-width: 70vw;
  }
}
.videos-page-container .videos-page-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .videos-page-container .videos-page-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
  }
}
.videos-page-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-container {
  position: absolute;
  width: 100vw;
  z-index: 3;
  opacity: 0.7;
}
.navbar-container .avatar {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-clip-path: circle();
  clip-path: circle();
  transition: all 250ms ease;
  cursor: pointer;
}
.navbar-container .navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #545454;
  position: absolute;
  height: 50px;
  width: 100%;
  top: 100px;
}
@media screen and (max-width: 768px) {
  .navbar-container .navbar-list {
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-container .navbar-list {
    flex-direction: column;
    height: 100px;
  }
}
.navbar-container .navbar-list li .active {
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1.2rem;
  transition: all 350ms ease;
}
@media screen and (max-width: 768px) {
  .navbar-container .navbar-list li .active {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .navbar-container .navbar-list li .active {
    margin: 20px auto;
  }
}
.navbar-container .navbar-list .pending {
  color: #fff;
  opacity: 0.5;
  font-family: "raleway-medium";
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .navbar-container .navbar-list .pending {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .navbar-container .navbar-list .pending {
    gap: 20px;
  }
} /*# sourceMappingURL=index.css.map */
