@font-face {
  font-family: "lato-regular";
  src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato-bold";
  src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: "raleway-medium";
  src: url(../fonts/raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: "raleway-bold";
  src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: "shadows-regular";
  src: url(../fonts/shadow/ShadowsIntoLight-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000f30;
  border-radius: 5px;
}

.landing-page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  justify-content: center;
}
.landing-page-container .welcome-title {
  position: absolute;
  color: #fff;
  font-family: "raleway-bold";
  font-size: 3rem;
  z-index: 1;
  top: 20vh;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .landing-page-container .welcome-title {
    font-size: 1.5rem;
  }
}
.landing-page-container .create-account-or-login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .landing-page-container .create-account-or-login {
    margin-top: 5vh;
    flex-direction: column;
  }
}
.landing-page-container .create-account-or-login figure {
  position: relative;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.landing-page-container .create-account-or-login figure .circle {
  opacity: 0.8;
  background-color: #545454;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 50%;
  margin: 10%;
  transition: all 250ms ease;
  cursor: pointer;
}
.landing-page-container .create-account-or-login figure .circle:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .landing-page-container .create-account-or-login figure .circle {
    width: 80px;
    height: 80px;
  }
}
.landing-page-container .create-account-or-login figure .circle .cross {
  padding: 20%;
}
.landing-page-container .create-account-or-login figure .avatar-picture {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin: 10%;
  transition: all 250ms ease;
  cursor: pointer;
}
.landing-page-container .create-account-or-login figure .avatar-picture:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .landing-page-container .create-account-or-login figure .avatar-picture {
    width: 80px;
    height: 80px;
  }
}
.landing-page-container .create-account-or-login figure figcaption {
  color: #fff;
  font-family: "raleway-bold";
}
.landing-page-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
}

.connexion-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #f5f8be, #000f30);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.connexion-container .connexion-title {
  position: absolute;
  color: #fff;
  font-family: "raleway-bold";
  font-size: 2.5rem;
  z-index: 1;
  top: 10vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .connexion-container .connexion-title {
    font-size: 1.1rem;
  }
}
.connexion-container .connexion-subtitle {
  position: absolute;
  color: #fff;
  font-family: "lato-regular";
  font-weight: lighter;
  font-size: 1.3rem;
  z-index: 1;
  top: 16vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .connexion-container .connexion-subtitle {
    font-size: 0.8rem;
  }
}
.connexion-container .connexion-inputs {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.connexion-container .connexion-inputs label {
  color: #fff;
  font-family: "raleway-bold";
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-inputs label {
    font-size: 1rem;
  }
}
.connexion-container .connexion-inputs input {
  background: transparent;
  padding: 2px;
  margin-bottom: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
}
.connexion-container .connexion-inputs button {
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 1rem;
  background-color: rgba(84, 84, 84, 0.4);
  -webkit-backdrop-filter: blur(20%);
          backdrop-filter: blur(20%);
}
@media screen and (max-width: 768px) {
  .connexion-container .connexion-inputs button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
  }
}
.connexion-container .particles {
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=index.css.map */